<%- include('partials/header'); -%>

<div class="container">
  <h1><%= title %></h1>
  <h2>Welcome <%= locals.user.name %></h2>
  <img
    src="<%= locals.user.avatar %>"
    alt=""
    width="100"
    style="border-radius: 50%"
  />
  <button class="green" id="logout">Logout</button>
  <table id="vehicleTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% vehicles.forEach((vehicle)=>{ %>
      <tr>
        <td><%- vehicle._id %></td>
        <td><%- vehicle.brand %></td>
        <td><%- vehicle.model %></td>
        <td><%- vehicle.year %></td>
        <td><%- vehicle.type %></td>
        <td>
          <button class="red" id="deleteBtn" data-id="<%- vehicle._id %>">
            Delete
          </button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
